[submodule "gkapfham/teaching/cs380F2014/provide"]
	path = gkapfham/teaching/cs380F2014/provide
	url = git@bitbucket.org:gkapfham/cs380f2014.git
[submodule "gkapfham/teaching/cs600F2014/provide"]
	path = gkapfham/teaching/cs600F2014/provide
	url = git@bitbucket.org:gkapfham/cs60060120132014.git
