[submodule "gkapfham/teaching/cs380F2014/provide"]
	path = gkapfham/teaching/cs380F2014/provide
	url = git@bitbucket.org:gkapfham/cs380f2014.git
[submodule "gkapfham/teaching/cs591F2013/provide"]
	path = gkapfham/teaching/cs591F2013/provide
	url = git@bitbucket.org:gkapfham/cs591f2013.git
[submodule "gkapfham/teaching/cs500501F2013/provide"]
	path = gkapfham/teaching/cs500501F2013/provide
	url = git@bitbucket.org:gkapfham/cs500501f2013.git
[submodule "gkapfham/teaching/cs290F2013/provide"]
	path = gkapfham/teaching/cs290F2013/provide
	url = git@bitbucket.org:gkapfham/cs290f2013.git
[submodule "gkapfham/teaching/fs101F2013/provide"]
	path = gkapfham/teaching/fs101F2013/provide
	url = git@bitbucket.org:gkapfham/fs101f2013.git
[submodule "gkapfham/teaching/cs500501S2014/provide"]
	path = gkapfham/teaching/cs500501S2014/provide
	url = git@bitbucket.org:gkapfham/cs500501s2014.git
[submodule "gkapfham/teaching/cs440S2014/provide"]
	path = gkapfham/teaching/cs440S2014/provide
	url = git@bitbucket.org:gkapfham/cs440s2014.git
[submodule "gkapfham/teaching/cs112S2014/provide"]
	path = gkapfham/teaching/cs112S2014/provide
	url = git@bitbucket.org:gkapfham/cs112s2014.git
[submodule "gkapfham/teaching/cs111F2014/provide"]
	path = gkapfham/teaching/cs111F2014/provide
	url = git@bitbucket.org:gkapfham/cs111f2014.git
[submodule "gkapfham/teaching/cs500501F2014/provide"]
	path = gkapfham/teaching/cs500501F2014/provide
	url = git@bitbucket.org:gkapfham/cs500501f2014.git
[submodule "gkapfham/teaching/cs591F2014/provide"]
	path = gkapfham/teaching/cs591F2014/provide
	url = git@bitbucket.org:gkapfham/cs591f2014.git
[submodule "gkapfham/teaching/cs600F2013/provide"]
	path = gkapfham/teaching/cs600F2013/provide
	url = git@bitbucket.org:gkapfham/cs60060120132014.git
[submodule "gkapfham/teaching/cs610S2014/provide"]
	path = gkapfham/teaching/cs610S2014/provide
	url = git@bitbucket.org:gkapfham/cs60060120132014.git
[submodule "gkapfham/teaching/cs600F2014/provide"]
	path = gkapfham/teaching/cs600F2014/provide
	url = git@bitbucket.org:gkapfham/cs60060120142015.git
[submodule "gkapfham/teaching/cs112S2015/provide"]
	path = gkapfham/teaching/cs112S2015/provide
	url = git@bitbucket.org:gkapfham/cs112s2015.git
[submodule "gkapfham/teaching/cs580S2015/provide"]
	path = gkapfham/teaching/cs580S2015/provide
	url = git@bitbucket.org:gkapfham/cs580s2015.git
[submodule "gkapfham/teaching/cs610S2015/provide"]
	path = gkapfham/teaching/cs610S2015/provide
	url = git@bitbucket.org:gkapfham/cs60060120142015.git
[submodule "gkapfham/cv"]
	path = gkapfham/cv
	url = git@bitbucket.org:gkapfham/curriculum-vitae.git
[submodule "gkapfham/teaching/cs111F2015/provide"]
	path = gkapfham/teaching/cs111F2015/provide
	url = git@bitbucket.org:gkapfham/cs111f2015.git
[submodule "gkapfham/teaching/cs280F2015/provide"]
	path = gkapfham/teaching/cs280F2015/provide
	url = git@bitbucket.org:gkapfham/cs280f2015.git
[submodule "gkapfham/teaching/cs600F2015/provide"]
	path = gkapfham/teaching/cs600F2015/provide
	url = git@bitbucket.org:gkapfham/cs60060120152016.git
[submodule "gkapfham/teaching/cs610S2016/provide"]
	path = gkapfham/teaching/cs610S2016/provide
	url = git@bitbucket.org:gkapfham/cs60060120152016.git
[submodule "gkapfham/teaching/cs441S2016/provide"]
	path = gkapfham/teaching/cs441S2016/provide
	url = git@bitbucket.org:gkapfham/cs441S2016.git
[submodule "gkapfham/teaching/cs111S2016/provide"]
	path = gkapfham/teaching/cs111S2016/provide
	url = git@bitbucket.org:gkapfham/cs111S2016.git
[submodule "gkapfham/_bibliography"]
	path = gkapfham/_bibliography
	url = git@bitbucket.org:gkapfham/research-bibliography.git
