<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <link rel="shortcut icon" href="{{site.baseurl}}infinity-gradient.ico">
    <link rel="icon" type="image/png" href="{{site.baseurl}}infinity.png" sizes="192x192">
    <link rel="apple-touch-icon" href="{{site.baseurl}}infinity.png" sizes="192x192">
    <link href="{{site.baseurl}}css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{site.baseurl}}css/bootstrap-slatemod.css" rel="stylesheet">
    <link href="{{site.baseurl}}css/pygments.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}css/fontello.css">
    <script src="{{site.baseurl}}js/twFetcher.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans' rel='stylesheet' type='text/css'>
    <meta name="theme-color" content="#2b2e32">
  </head>

  <body>

    <div class="navbar navbar-default">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navigate" href="{{site.baseurl}}">Gregory M. Kapfhammer</a>
      </div>

      <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

        <ul class="nav navbar-nav">

          {% for weight in (1..site.max_header) %} {% for page in site.pages %} {% if page.weight == weight %} {% if page.header == true %}
          <li><a class="navigate" href="{{site.baseurl}}{{page.url | remove_first:'/'}}">{{page.title}}</a>
          </li>
          {% endif %} {% endif %} {% endfor %} {% endfor %}

        </ul>
      </div>

    </div>

    <div class="container">

      <div class="row">

        <div class="col-md-2 visible-md visible-lg sidebar">

        </div>

        <div class="col-md-10">

          <!-- NOTE: the "details" layout is only for papers; presentations are simply direct links -->

          <!-- always display the title of the paper or presentation and the author(s) of the presentation -->
          <h1>{{ page.entry.title }}</h1>
          <h3>{{ page.entry.author }}</h3>

          <!-- if there is a "booktitle" (i.e., proceedings) and a year, then display this as well -->
          {% if page.entry.booktitle and page.entry.year %}
          <em><h3>{{ page.entry.booktitle}}, {{ page.entry.year }}</h3></em>
          {% endif %}

          <!-- if there is a "journal" (i.e., it is a journal) and the other parts of a journal and a year, then display them -->
          {% if page.entry.journal and page.entry.volume != "" and page.entry.number != "" and page.entry.year %}
          <em><h3>{{ page.entry.journal}} {{ page.entry.volume }}:{{ page.entry.number }}, {{ page.entry.year }}</h3></em>
          {% endif %}

          <!-- if there is a "journal" (i.e., it is a journal) and the other parts of a journal and a year, then display them -->
          {% if page.entry.journal and page.entry.volume == "" and page.entry.number == "" and page.entry.year %}
          <em><h3>{{ page.entry.journal}}, {{ page.entry.year }}</h3></em>
          {% endif %}

          <!-- if there is an "institution" (i.e., it is a technical report) and the year, then display them -->
          {% if page.entry.institution and page.entry.number and page.entry.year %}
          <em><h3>Technical Report {{ page.entry.number }}, {{ page.entry.year }}</h3></em>
          {% endif %}

          <!-- one of the above two options will have been true and now we need space for the next data points for this entry -->
          <p>

          <!-- display the abstract of the conference or journal paper -->
          {% if page.entry.abstract %}
          <h3>Abstract</h3>
          <p>{{ page.entry.abstract }}</p>
          {% endif %}

          {% if page.entry.nodownload != 'true' %}
          <h3>Resources</h3>
          <!-- display the paper download link for the paper (it is always based on the key of the specific entry) -->
          <p><a class="major" href = "{{site.baseurl}}download/research/papers/key/{{page.entry.key}}-paper.pdf"><i class="fa fa-download"></i> Paper</a></p>
          {% endif %}

          <!-- display the presentation download link for the paper (which will either be specified or be based on the key) -->
          <!-- there is a hard-coded presentation in the bibtex file and thus this should be displayed -->
          {% if page.entry.presentation %}
            <p><a class="major" href = "{{page.entry.presentation}}"><i class="fa fa-download"></i> Presentation</a></p>
          {% endif %}

          <!-- there is not a hard-coded presentation in the bibtex file and thus the key-based name should be displayed -->
          {% if page.entry.presented %}
            {% if page.entry.presentation == null %}
            <p><a class="major" href="{{site.baseurl}}download/research/presentations/key/{{page.entry.key}}-presentation.pdf">
              <i class="fa fa-download"></i> Presentation</a></li></p>
            {% endif %}
          {% endif %}

          <!-- display the references to external resources (e.g., a GitHub site for the paper or the tool) -->
          {% if page.entry.paper %}
            <p><a class="major" href = "{{page.entry.paper}}">
              <i class="fa fa-github"></i> {{ page.entry.paper | replace: "https://github.com/", "" }}</a></p>
          {% endif %}
          {% if page.entry.data %}
            <p><a class="major" href = "{{page.entry.data}}">
              <i class="fa fa-github"></i> {{ page.entry.data | replace: "https://github.com/", "" }}</a></p>
          {% endif %}
          {% if page.entry.tool %}
            <p><a class="major" href = "{{page.entry.tool}}">
              <i class="fa fa-github"></i> {{ page.entry.tool | replace: "https://github.com/", "" }}</a></p>
          {% endif %}

          <!-- again display extra spacing between the previous entries and the final bibtex -->
          <p>

          <!-- display the bibtex entry for the paper if one is available -->
          {% if page.entry.bibtex %}
          <h3>Reference</h3>
          <pre>{{ page.entry.bibtex }}</pre>
          {% endif %}

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 bottom-pad">
        </div>
      </div>

      <div class="row">

        <div class="col-sm-2">
        </div>

        <div class="col-sm-10 text-left">
          <a class="navigatename" href="{{site.baseurl}}">&copy; Gregory M. Kapfhammer 2000-2016</a> &nbsp;
          <a href="https://twitter.com/GregKapfhammer"><i class="fa fa-twitter fa-lg"></i></a> &nbsp;
          <a href="http://www.linkedin.com/in/GregKapfhammer"><i class="fa fa-linkedin fa-lg"></i></a> &nbsp;
          <a href="https://github.com/gkapfham"><i class="fa fa-github fa-lg"></i></a> &nbsp;
          <a href="http://scholar.google.com/citations?user=g0eDPjYAAAAJ"><i class="fa fa-google fa-lg"></i></a> &nbsp;
          <a href="{{site.baseurl}}cv/curriculum_vitae_kapfhammer.pdf"><i class="icon-vcard fa-lg"></i></a>
        </div>

      </div>

    </div>

    </div>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="{{site.baseurl}}js/bootstrap.min.js"></script>

  </body>

</html>
