---
---

{% if entry.howpublished %}
<li><i class="fa-li fa fa-file-image-o fa-lg"></i>
  {% if entry.presentation %}
  <a class="major" href="{{entry.presentation}}">{{entry.title}}</a></li>
  {% else %}
  <a class="major" href="{{site.baseurl}}download/research/presentations/key/{{entry.key}}.pdf">{{entry.title}}</a></li>
  {% endif %}
{{ entry.author }} <br>
<p>
{% else %}
<li><i class="fa-li fa fa-file-text-o fa-lg"></i>
  <a class="major" href="{{entry.key}}">{{entry.title}}</a> </li>
{{ entry.author }} <br>
{% endif %}

