<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <link rel="shortcut icon" href="{{site.baseurl}}infinity-gradient.ico">
    <link rel="icon" type="image/png" href="{{site.baseurl}}infinity.png" sizes="192x192">
    <link rel="apple-touch-icon" href="{{site.baseurl}}infinity.png" sizes="192x192">
    <link href="{{site.baseurl}}css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{site.baseurl}}css/bootstrap-slatemod.css" rel="stylesheet">
    <link href="{{site.baseurl}}css/pygments.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}css/fontello.css">
    <script src="{{site.baseurl}}js/twFetcher.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans' rel='stylesheet' type='text/css'>
    <meta name="theme-color" content="#2b2e32">
  </head>

  <body>

    <div class="navbar navbar-default">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navigate" href="{{site.baseurl}}">Gregory M. Kapfhammer</a>
      </div>

      <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

        <ul class="nav navbar-nav">

          {% for weight in (1..site.max_header) %} {% for page in site.pages %} {% if page.weight == weight %} {% if page.header == true %}
          <li><a class="navigate" href="{{site.baseurl}}{{page.url | remove_first:'/'}}">{{page.title}}</a>
          </li>
          {% endif %} {% endif %} {% endfor %} {% endfor %}

        </ul>
      </div>

    </div>

    <div class="container">

      <div class="row">

        <div class="col-md-2 visible-md visible-lg sidebar">

        </div>

        <div class="col-md-10">
          {{ content }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 bottom-pad">
        </div>
      </div>

      <div class="row">

        <!-- <div class="col-sm-2"> -->
        <!-- </div> -->

        <div class="col-sm-2">
        </div>

        <div class="col-sm-10 text-left">
          <a class="navigatename" href="{{site.baseurl}}">&copy; Gregory M. Kapfhammer 2000-2016</a> &nbsp;
          <a href="https://twitter.com/GregKapfhammer"><i class="fa fa-twitter fa-lg"></i></a> &nbsp;
          <a href="http://www.linkedin.com/in/GregKapfhammer"><i class="fa fa-linkedin fa-lg"></i></a> &nbsp;
          <a href="https://github.com/gkapfham"><i class="fa fa-github fa-lg"></i></a> &nbsp;
          <a href="http://scholar.google.com/citations?user=g0eDPjYAAAAJ"><i class="fa fa-google fa-lg"></i></a> &nbsp;
          <a href="{{site.baseurl}}cv/curriculum_vitae_kapfhammer.pdf"><i class="icon-vcard fa-lg"></i></a>
        </div>

        <!-- <div class="col-sm-8 text-left"> -->
        <!--   <div class="row"> -->
        <!--     <div class="col-sm-12 text-left"> -->
        <!--       <a class="navigatename" href="{{site.baseurl}}">&copy; Gregory M. Kapfhammer</a> -->
        <!--     </div> -->
        <!--   </div> -->
        <!--   <div class="row"> -->
        <!--     <div class="col-sm-12 text-left"> -->
        <!--       <a href="https://twitter.com/GregKapfhammer"><i class="fa fa-twitter fa-lg"></i></a> &nbsp; -->
        <!--       <a href="http://www.linkedin.com/in/GregKapfhammer"><i class="fa fa-linkedin fa-lg"></i></a> &nbsp; -->
        <!--       <a href="https://github.com/gkapfham"><i class="fa fa-github fa-lg"></i></a> &nbsp; -->
        <!--       <a href="http://scholar.google.com/citations?user=g0eDPjYAAAAJ"><i class="fa fa-google fa-lg"></i></a> &nbsp; -->
        <!--       <a href="{{site.baseurl}}cv/curriculum_vitae_kapfhammer.pdf"><i class="icon-vcard fa-lg"></i></a> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->

      </div>

    </div>

    </div>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="{{site.baseurl}}js/bootstrap.min.js"></script>

  </body>

</html>
