<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link href="css/bootstrap-slatemod.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu|Roboto|Cambo|Lusitana|Neuton|Rokkitt|Varela+Round' rel='stylesheet' type='text/css'>   

    <style>
    body {
        padding-top: 0px;
      }
    </style>

    <!-- <link href="../css/bootstrap&#45;responsive.css" rel="stylesheet"> -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></sc\
ript>
    <![endif]-->
  
    </head>

  <body>
      <div class="navbar navbar-default">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand navigate" href="../">Gregory M. Kapfhammer</a>
          </div>
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                  <li><a class="navigate" href="../">Home</a></li>
                  <li><a class="navigate" href="#">Biography</a></li>
                  <li><a class="navigate" href="#">Teaching</a></li>
                  <li><a class="navigate" href="#">Research</a></li>
                  <li><a class="navigate" href="#">Software</a></li>
                  <li><a class="navigate" href="#">Schedule</a></li>
                  <li><a class="navigate" href="#">Contact</a></li>
              </ul>
          </div><!-- /.nav-collapse -->
      </div><!-- /.navbar -->

      <div class="container">
          <div class="row">
              <div class="col-md-2 visible-md visible-lg pushdown-vertical sidebar">
                  <i class="fa fa-book"></i> <a class="navigate" href = "http://scholar.google.com/citations?user=g0eDPjYAAAAJ">Scholar</a> <br>
                  <i class="fa fa-twitter"></i> <a class="navigate" href = "https://twitter.com/GregKapfhammer">Twitter</a> <br>
                  <i class="fa fa-ticket"></i> <a class="navigate" href = "colophon/">Colophon</a> <br>
                  &copy; <a class="navigate" href="http://www.cs.allegheny.edu/~gkapfham/">Gregory M. Kapfhammer</a>
              </div>
              <div class="col-md-10">
                  {{ content }}
              </div> 
              <div class="col-md-2 visible-md visible-lg">
                
              </div>
              <div class="col-md-2 visible-sm visible-xs sidebar center">
                  <i class="fa fa-book"></i> <a class="navigate" href = "http://scholar.google.com/citations?user=g0eDPjYAAAAJ">Scholar</a> <br>
                  <i class="fa fa-twitter"></i> <a class="navigate" href = "https://twitter.com/GregKapfhammer">Twitter</a> <br>
                  <i class="fa fa-ticket"></i> <a class="navigate" href = "colophon/">Colophon</a> <br>
                  &copy; <a class="navigate" href="http://www.cs.allegheny.edu/~gkapfham/">Gregory M. Kapfhammer</a>
              </div>

    <!-- <div class="container"> -->
        <!-- <div class="row"> -->

    <!-- <footer> -->
    <!--     <div class="footer"> -->
    <!--         <div class="col&#45;lg&#45;12"> -->
    <!--             <ul class="fa&#45;ul"> -->
    <!--                 <li><i class="fa&#45;li fa fa&#45;check&#45;square"></i>Gregory M. Kapfhammer</li> -->
    <!--                 <li class="pull&#45;right"><a href="#top"><i class="fa fa&#45;angle&#45;double&#45;up fa&#45;3x"></i></a></li> -->
    <!--             </ul> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </footer> -->

        </div>

    </div>

    <!-- <footer> -->
    <!--     <div class="footer"> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;4"> -->
    <!--                 <ul class="fa&#45;ul"> -->
                        <!-- <li >&#38;copy; <a href="http://www.cs.allegheny.edu/~gkapfham/">Gregory M. Kapfhammer 2000&#45;2014</a></li> -->
    <!--                     <li><i class="fa fa&#45;twitter"></i> <a href="https://twitter.com/GregKapfhammer">@GregKapfhammer</a></li> -->
    <!--                 </div> -->
    <!--                 <div class="col&#45;md&#45;2"> -->
    <!--                     <i class="fa fa&#45;users"></i> <a href="">Teaching</a> <br> -->
    <!--                     <i class="fa fa&#45;bar&#45;chart&#45;o"></i> <a href="">Research</a> -->
    <!--                 </div> -->
    <!--                 <div class="col&#45;md&#45;2"> -->
    <!--                     <i class="fa fa&#45;calendar"></i> <a href="">Schedule</a> <br> -->
    <!--                     <i class="fa fa&#45;comment"></i> <a href="">Contact</a> -->
    <!--                 </div> -->
    <!--                 <div class="col&#45;md&#45;2"> -->
    <!--                     <i class="fa fa&#45;bold"></i> <a href="http://getbootstrap.com/">Bootstrap</a> <br> -->
    <!--                     <i class="fa fa&#45;code"></i> <a href="http://jekyllrb.com/">Jekyll</a> -->
    <!--                 </div> -->
    <!--                 <div class="col&#45;md&#45;2"> -->
    <!--                     <i class="fa fa&#45;flag"></i> <a href="http://fortawesome.github.io/Font&#45;Awesome/">FontAwesome</a> <br> -->
    <!--                     <i class="fa fa&#45;trello"></i> <a href="http://bootswatch.com/">Bootswatch</a> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--     </footer> -->

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        window.twttr = (function (d,s,id) {
            var t, js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
            js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
            return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
    </script>

  </body>
</html>
